
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:-x hidden;
    height: 100vh;
    background-color: lightgrey;
}

i {
    font-size: 20px;
}

.search {
    position: relative;
}

.search input {
    background-color: white;
    border: 0;
    height: 50px;
    padding: 15px;
    width: 50px;
    transition: 0.3s ease;
    border-radius: 6px;
}

.search input.active {
    width: 250px;
}

.search button {
    border: 0;
    background-color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-25%);
    transition: 0.3s ease;
}